
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1 style="color:red">Calculadora completa</h1>

        <form method="post">
            <table boder="1">
                <tr>
                    <td colspan="5">
                        <input type="text" name="display" readonly/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="7" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="8" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="9" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value=":" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="+/-" name="bt" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="4" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="5" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="6" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="X" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="C" name="bt" />
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="1" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="2" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="3" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="-" name="bt" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
